gitignore/



UK Finance Maths/
Algorithm Visualiser/
*docs/
*/test-images/



*.DS_Store
Templates/LaTeX/.DS_Store
Mathematics/.DS_Store
*.pyc
__pycache__/

*GEMINI.md
*copilot-instructions.md
.claude

.gstack/
